ui/linux/html/
ui/linux/public/
ui/linux/peercast-yt/
ui/html/
ui/public/
peercast
peercast.ini
.deps
**/*.tar
**/*.tar.gz
ui/html/
**/gmon.out
**/*.o
**/*.a
.clang-format
GPATH
GRTAGS
GSYMS
GTAGS
**/*~
bvt/peercast-yt/
.history