ui/linux/html/
ui/linux/public/
ui/linux/peercast-yt/
ui/html/
ui/public/
peercast
peercast.exe
rtmp-server
rtmp-server.exe
peercast.ini
.deps
**/*.tar
**/*.tar.gz
ui/html/
**/gmon.out
**/*.o
**/*.a
.clang-format
GPATH
GRTAGS
GSYMS
GTAGS
**/*~
bvt/peercast-yt/
ui/*/tests/test-all
ui/*/tests/test-all.exe
ui/**/Makefile.local
*.zip
*.exe
