body { background-color: #ddd; margin-top: 16px; margin-bottom: 16px;
       font-family: Verdana, sans-serif; font-size: 10px; }

input, select { font-size: 12px }
.channel-list { font-family: Verdana, sans-serif; font-size: 11px; color: #222; line-height: 1.3em; min-width: 100% }
.channel-list tr { background-color: #FFECC4 }
.channel-list th { font-size: 12px; text-decoration: underline; padding: 3px 5px; color: black; white-space: nowrap }
.channel-list td { text-align: center; padding: 3px 5px; }
.channel-list td.channel-description { text-align: left  }
td.results { text-align: left }
.container { max-width: 700px; background-color: white;
             margin-left: auto; margin-right: auto;
             border: solid 1px black; padding: 5px;
             min-height: calc(100vh - 45px) }
.channel-name { font-size: 12px }
.detail { padding-left: 0.7em; padding-right: 0.3em }
.rank { font-size: 12px }
.listeners { padding-bottom: 3px }
.icons { margin-top: 2px }
.play-button { margin-left: 8px; margin-right: 8px }
.channel-list .bitrate { text-align: right }

.index-txt-badge { background-color: #ffa526;
                   font-size: 12px;
                   color: white;
                   border-radius: 5px;
                   padding: 5px;
                   margin-right: 0.3em }
.index-url { font-family: monospace;
             width: 300px; padding: 4px; border: solid grey 1px; border-radius: 3px}

h1.server-name { color: #111; font-size: 28px }
