<!doctype html>
<html>
  <head>
    <title>{^TITLE}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/peercast.css" rel="stylesheet" type="text/css">
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="js/reloader.js"></script>
    <link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    {^HEAD}
    {^BASIC_DARK_THEME_STYLE_TAG}
  </head>
  <body>
    {^yield}
  </body>
</html>
