{^define HEAD}
{^end}

{^define TITLE}
  {#PeerCast on} {@if servMgr.serverName}{$servMgr.serverName}{@else}{$servMgr.serverIP}:{$servMgr.serverPort}{@end}
{^end}

{^define SERVER_NAME}
  {@if servMgr.serverName}
    {$servMgr.serverName}
  {@else}
    {$servMgr.serverIP}:{$servMgr.serverPort}
  {@end}
{^end}

{^define DARK_THEME_STYLES_BEGIN}
  {@if servMgr.preferredTheme == "dark"}
    :root {color-scheme: dark;}
    @media screen, (not screen) {
  {@elsif servMgr.preferredTheme == "system"}
    :root {color-scheme: light dark;}
    @media (prefers-color-scheme: dark) {
  {@elsif servMgr.preferredTheme == "light"}
    :root {color-scheme: light;}
    @media screen and (not screen) {
  {@end}
  /* dark theme styles begin */
{^end}

{^define DARK_THEME_STYLES_END}
  /* dark theme styles end */
  }
{^end}

{^define BASIC_DARK_THEME_STYLE_TAG}
<style>
  :root {
      {@if servMgr.accentColor == "orange"}
      --accent-color-light: #d47f03; /* L=61 */
      --accent-color-dark: #ff9c0d; /* L=73 */
      {@elsif servMgr.accentColor == "magenta"}
      --accent-color-light: #a804a8; /* L=40 */
      --accent-color-dark: #f65df5; /* L=65 */
      {@elsif servMgr.accentColor == "cyan"}
      --accent-color-light: #088396; /* L=50 */
      --accent-color-dark: #04c5e1; /* L=73 */
      {@else} /* defaults to blue */
      --accent-color-light: #044b90; /* L=32 */
      --accent-color-dark: #92b2ff; /* L=73 */
      {@end}
      --accent-color: var(--accent-color-light);

      --bg-color-l1: #fff; /* background color level 1 */
      --bg-color-l2: #eee;
  }
  input { accent-color: var(--accent-color) }
  a[href] {
      color: var(--accent-color);
  }
  {^DARK_THEME_STYLES_BEGIN}
  :root {
      --accent-color: var(--accent-color-dark);
      --bg-color-l1: #222;
      --bg-color-l2: #333;
  }

  body { color: #fff; background-color: #222 }

  table.table-panel tbody tr:nth-child(odd) {
      background-color: #333;
  }

  table.table-panel tbody tr:nth-child(even) {
      background-color: #444;
  }

  /* パネルの上部のスパンする見出し行。他の行よりも背景が濃い。 */
  table.table-panel tbody tr:nth-child(1) {
      background-color: #555;
  }

  /* 通常、上の指定で十分。 */
  table.table-panel tbody tr.heading-row {
      background-color: #555;
  }

  input { background-color: #222; color: #fff; }
  input[type=submit], button { background-color: #555; color: #fff; }
  input[type=text], input:not([type]), input[type=url], input[type=password] { padding: 5px }
  input[readonly="readonly"] { background-color: #222; color: #888 }
  select { background-color: #222; color: #fff; padding: 5px }
  button:disabled { color: #bbb }

  textarea { background-color: #222; color: #fff; }

  .text-danger {
      color: #d22;
  }

  .text-muted {
      color: rgba(255,255,255,0.7);
  }

  ::-webkit-scrollbar {
      width: 15px;
  }
  ::-webkit-scrollbar-track {
      background: #333; 
  }
  ::-webkit-scrollbar-thumb {
      background: #577bc3; 
  }
  ::-webkit-scrollbar-thumb:hover {
      background: #92b2ff; 
  }

  .alert-warning { background-color: #ba0 }
  .alert-warning::after { color: #000 }

  .navbar { background-color: #333 }
  .navbar > a:hover { color: #eee; background-color: #222 }
  .navbar > a.active-tab {
    background-color: #444;
  }

  img[alt=Chat] { filter: invert(1) }
  img[alt=Stats] { filter: invert(1) }

  .default-bg { background-color: #222 }

  .modal-contents { border: solid 2px #eee; border-radius: 0 }

  {^DARK_THEME_STYLES_END}

</style>
{^end}
