{^define HEAD}
{^end}

{^define TITLE}
  {#PeerCast on} {@if servMgr.serverName}{$servMgr.serverName}{@else}{$servMgr.serverIP}:{$servMgr.serverPort}{@end}
{^end}

{^define SERVER_NAME}
  {@if servMgr.serverName}
    {$servMgr.serverName}
  {@else}
    {$servMgr.serverIP}:{$servMgr.serverPort}
  {@end}
{^end}

{^define DARK_THEME_STYLES_BEGIN}
  {@if servMgr.preferredTheme == "dark"}
    @media screen, (not screen) {
  {@elsif servMgr.preferredTheme == "system"}
    @media (prefers-color-scheme: dark) {
  {@elsif servMgr.preferredTheme == "light"}
    @media screen and (not screen) {
  {@end}
  /* dark theme styles begin */
{^end}

{^define DARK_THEME_STYLES_END}
  /* dark theme styles end */
  }
{^end}
