<!doctype html>
<html>
  <head>
    <title>{^TITLE}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="peercast.css" rel="stylesheet" type="text/css">
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="js/reloader.js"></script>
    <link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    {^HEAD}
  </head>
  <body>

            <div align="center">
              <div align="center">
                <table width="100%" border="0">
                  <tr>
                    <td>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="middle" nowrap>
                            <table border="0" align="center" cellpadding="1" cellspacing="0">
                              <tr>
                                <td rowspan="2" valign="middle"><img src="/assets/images/small-logo.png" alt="www.peercast.org" border="0"></td>
                                <td valign="bottom" style="padding: 0; padding-left: 2px">
                                  <span class="titlelinksBig">Peercast</span>
                                </td>
                              </tr>
                              <tr>
                                <td valign="top" style="line-height: 0.8em; padding: 0; text-align: center">
                                    <a href="https://github.com/plonk/peercast-yt">
                                      <span class="normal-small" style="font-size: 11px">{$servMgr.version}</span>
                                    </a>
                                </td>
                              </tr>
                            </table>
                            <div align="center"><span class="titlelinksBig"> </span>
                          </div></td>
                          <td style="padding:0; white-space:normal" align="right">
                            {@if servMgr.upgradeURL}
                            <div align="center">
                              <a href="{$servMgr.upgradeURL}" target="_blank">
                                <strong>
                                  <font color="#FF0000">
                                    {#Please upgrade your client, click here to download the latest version.}
                                  </font>
                                </strong>
                              </a>
                            </div>
                            {@end}
                            {@if servMgr.hasUnsafeFilterSettings}
                            <span style="color: red">
                              {#Warning: The whole of the Internet is marked as Private.}
                            </span>
                            {@end}
                            <div style="float:right">
			      <a class="normal-small" href="/public/index.html">{#Public Directory}</a>
			      <a class="normal-small" href="logout.html">{#_Logout_navbar}</a>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>

	      {^include navbar.html}

              {^yield}

              <hr size="1">
	      {^include footer.html}
            </div>

  </body>
</html>
