<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>{^TITLE}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="peercast.css" rel="stylesheet" type="text/css">
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="js/reloader.js"></script>
    {^HEAD}
  </head>
  <body bgcolor="#DDDDDD">

    <div class="reloader" data-url="?fragment=notifications" data-interval="{$servMgr.refreshHTML}">
      {@fragment notifications}
      <script>
        var notifications = [];
        var t = {!sys.time};
        var r = {!servMgr.refreshHTML};
        {@loop notificationBuffer.numNotifications}
          {@if !loop.notification.isRead}
            if (t - {$loop.notification.unixTime} <= (2*r))
              notifications.push({ time: "{\loop.notification.time}", type: "{\loop.notification.type}", message: "{\loop.notification.message}" });
          {@end}
        {@end}

        // {$notificationBuffer.markAsRead}

        function notifyMe() {
          if (!("Notification" in window)) {
            console.log("This browser does not support system notifications");
          }
          else if (Notification.permission === "granted") {
            for (var i = 0; i < notifications.length; i++) {
              spawnNotification(notifications[i].message, "/assets/images/small-logo.png", notifications[i].type);
            }
          }
          else if (Notification.permission !== 'denied') {
            Notification.requestPermission(function (permission) {
              if (permission === "granted") {
                for (var i = 0; i < notifications.length; i++) {
                  spawnNotification(notifications[i].message, "/assets/images/small-logo.png", notifications[i].type);
                }
              }
            });
          }
        }

        function spawnNotification(theBody,theIcon,theTitle) {
          var options = {
              body: theBody,
              icon: theIcon
          }
          var n = new Notification(theTitle,options);
          setTimeout(n.close.bind(n), 5000);
        }

        notifyMe();
      </script>
    {@end}
    </div>

    <div align="center">
      <table width="100%" height="100%" border="1" align="center" cellpadding="5" cellspacing="0" bordercolor="#999999" bgcolor="#FFFFFF">
        <tr>
          <td class="container" align="center" valign="top">
            <div align="center">
              <div align="center">
                <table width="100%" border="0">
                  <tr>
                    <td nowrap>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="middle" nowrap>
                            <table border="0" align="center" cellpadding="1" cellspacing="0">
                              <tr>
                                <td rowspan="2" valign="middle"><img src="/assets/images/small-logo.png" alt="www.peercast.org" border="0"></td>
                                <td valign="bottom" style="padding: 0; padding-left: 2px">
                                  <span class="titlelinksBig">Peercast</span>
                                </td>
                              </tr>
                              <tr>
                                <td valign="top" style="line-height: 0.8em; padding: 0; text-align: center">
                                    <a href="https://github.com/plonk/peercast-yt">
                                      <span class="normal-small" style="font-size: 11px">{$servMgr.version}</span>
                                    </a>
                                </td>
                              </tr>
                            </table>
                            <div align="center"><span class="titlelinksBig"> </span>
                          </div></td>
                          <td style="padding: 0" align="right">
                            {@if servMgr.upgradeURL}
                            <div align="center" class="normal">
                              <a href="{$servMgr.upgradeURL}" target="_blank">
                                <strong>
                                  <font color="#FF0000">
                                    {#Please upgrade your client, click here to download the latest version.}
                                  </font>
                                </strong>
                              </a>
                            </div>
                            {@else}
                            {@if servMgr.rootMsg}
                            <span title="{#Message from the root server}" class="root-message normal-small" align="center">
                              {$servMgr.rootMsg}
                            </span>
                            {@end}
                            {@end}
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>

              <table class="navbar" width="100%" border="1" cellpadding="1" cellspacing="0">
                <tr class="normal">
                  <td width="14.286%"><div align="center"><a href="index.html">{#_Information_navbar}</a></div></td>
                  <td width="14.286%"><div align="center"><a href="channels.html">{#Channels}</a></div></td>
                  <td width="14.286%"><div align="center"><a href="notifications.html">{#Notifications}</a></div></td>
                  <td width="14.286%"><div align="center"><a href="connections.html">{#_Connections_navbar}</a></div></td>
                  <td width="14.286%"><div align="center"><a href="settings.html">{#_Settings_navbar}</a></div></td>
                  <td width="14.286%"><div align="center"><a href="viewlog.html">{#_View Log_navbar}</a></div></td>
                  <td width="14.286%"><div align="center"><a href="logout.html">{#_Logout_navbar}</a></div></td>
                </tr>
                <tr class="normal">
                  <td width="14.286%"><div align="center"><a href="/public/index.html">{#Public Directory}</a></div></td>
                  <td width="14.286%"><div align="center"><a href="rtmp.html">{#RTMP Service}</a></div></td>
                  <td width="14.286%"><div align="center"><a href=""></a></div></td>
                  <td width="14.286%"><div align="center"><a href=""></a></div></td>
                  <td width="14.286%"><div align="center"><a href=""></a></div></td>
                  <td width="14.286%"><div align="center"><a href=""></a></div></td>
                  <td width="14.286%"><div align="center"><a href=""></a></div></td>
                </tr>
              </table>

              {^yield}

              <hr size="1">

              <div align="center" class="normal-small"> &copy; 2005 peercast.org</div>
            </div>
          </td>
        </tr>
      </table>
    </div>

  </body>
</html>
