<div class="flex-container navbar">
  <a href="index.html"><span>{#_Information_navbar}</span></a>
  <a href="channels.html"><span>{#Channels}</span></a>
  <a href="connections.html"><span>{#_Connections_navbar}</span></a>
  <a href="settings.html"><span>{#_Settings_navbar}</span></a>
  <a href="viewlog.html"><span>{#_View Log_navbar}</span></a>

  <a href="notifications.html"><span>{#Notifications}</span></a>
  <a href="rtmp.html"><span>{#RTMP Server}</span></a>
  <a href="speedtest.html"><span>{#Speedtest}</span></a>
</div>
