{^define UNMUTE_BUTTON}
  <button id="unmuteButton" style="position: absolute; left: calc(50% - 75px); top: calc(50% - 15px); width: 150px; height: 30px">{#Unmute}</button>
  <script>
    var videoElement = document.getElementById('videoElement');
    var unmuteButton = document.getElementById('unmuteButton');
    unmuteButton.style.visibility = "hidden";
    unmuteButton.addEventListener('click', function(){
        unmuteButton.style.visibility = "hidden";
        videoElement.muted = false;
    });
  </script>
{^end}

{@if page.channel.typeWithGuess == "FLV"}
  {@if page.player != "flash" }
    <div class="message" style="text-align: center">
      <script src="/assets/js/flv.min.js"></script>
      <div style="position: relative">
        <video id="videoElement" controls autoplay>
          {#Your browser doesn't seem to support playback of FLV videos.} {#Try the playlist link below.}
        </video>
      	{^UNMUTE_BUTTON}
      </div>
      <script>
       if (flvjs.isSupported()) {
         var flvPlayer = flvjs.createPlayer({
           type: 'flv',
           isLive: true,
           url: '/stream/{$page.channel.id}.flv'
         });
         flvPlayer.attachMediaElement(videoElement);
         flvPlayer.load();
         flvPlayer.play().catch(error => {
           videoElement.muted = true;
           unmuteButton.style.visibility = "visible";
           flvPlayer.play();
         });
       }
      </script>
    </div>
  {@else}
    <div class="message" style="text-align: center">
    <!-- 何かサイズの初期値を入れておかないと表示されないので -->
    <object width="800" height="450"
            id="undefined" name="undefined"
            data="http://releases.flowplayer.org/swf/flowplayer-3.2.18.swf"
            type="application/x-shockwave-flash">
      <param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.18.swf" />
      <param name="allowfullscreen" value="true" />
      <param name="allowscriptaccess" value="always" />
      <param name="flashvars" value='config={"canvas":{"backgroundColor":"#000","backgroundGradient":"none"},"clip":{"url":"/stream/{$page.channel.id}.flv?auth={$page.channel.authToken}"},"playlist":[{"url":"/stream/{$page.channel.id}.flv?auth={$page.channel.authToken}","scaling":"fit"}]}' />

    </object>
    </div>
  {@end}
{@elsif page.channel.typeWithGuess == "WMV"}
  {@if servMgr.transcodingEnabled}
    <div class="message" style="text-align: center">
      <script src="/assets/js/flv.min.js"></script>
      <div style="postion: relative">
        <video id="videoElement" controls autoplay>
          {#Your browser doesn't seem to support playback of FLV videos.} {#Try the playlist link below.}
        </video>
      	{^UNMUTE_BUTTON}
      </div>
      <script>
        if (flvjs.isSupported()) {
            var videoElement = document.getElementById('videoElement');
            var flvPlayer = flvjs.createPlayer({
                type: 'flv',
                isLive: true,
                url: '/cgi-bin/flv.cgi?id={$page.channel.id}&type={$page.channel.typeWithGuess}&bitrate={$page.channel.bitrate}&preset={$servMgr.preset}&audio_codec={$servMgr.audioCodec}'
            });
            flvPlayer.attachMediaElement(videoElement);
            flvPlayer.load();
            flvPlayer.play().catch(error => {
                videoElement.muted = true;
                unmuteButton.style.visibility = "visible";
                flvPlayer.play();
            });
        }
      </script>
    </div>
  {@else}
    <div class="message" style="text-align: center">
      <object
        id="wmplayer"
        width="640" height="480"
        classid="CLSID:22D6F312-B0F6-11D0-94AB-0080C74C7E95"
        codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=6,4,5,715"
        standby="Loading MicrosoftR WindowsR Media Player components..."
        type="application/x-oleobject">

        <param name="FileName" value="/pls/{$page.channel.id}.asx?auth={$page.channel.authToken}" />
        <!-- 自動再生の有無 -->
        <param name="AutoStart" value="true" />
        <!-- コントロール表示の有無 -->
        <param name="ShowControls" value="true" />

        {#Your browser doesn't seem to support playback of WMV videos.} {#Try the playlist link below.}
      </object>
    </div>
  {@end}
{@elsif page.channel.typeWithGuess == "MP3"}
  <div class="message" style="text-align: center">
    <audio controls autoplay style="min-width: 640px">
      <source src="/stream/{$page.channel.id}.mp3?auth={$page.channel.authToken}" type="audio/mpeg">
      {#Your browser doesn't seem to support playback of MP3 audio.} {#Try the playlist link below.}
      <!-- Your browser does not support the audio element. -->
    </audio>
  </div>
{@elsif page.channel.typeWithGuess == "MKV"}
  {@if servMgr.transcodingEnabled}
    <div class="message" style="text-align: center">
      <script src="/assets/js/flv.min.js"></script>
      <div style="position: relative">
        <video id="videoElement" controls autoplay>
          {#Your browser doesn't seem to support playback of MKV videos.} {#Try the playlist link below.}
        </video>
      	{^UNMUTE_BUTTON}
      </div>
      <script>
        if (flvjs.isSupported()) {
            var videoElement = document.getElementById('videoElement');
            var flvPlayer = flvjs.createPlayer({
                type: 'flv',
                isLive: true,
                url: '/cgi-bin/flv.cgi?id={$page.channel.id}&type={$page.channel.typeWithGuess}&bitrate={$page.channel.bitrate}&preset={$servMgr.preset}&audio_codec={$servMgr.audioCodec}'
            });
            flvPlayer.attachMediaElement(videoElement);
            flvPlayer.load();
            flvPlayer.play().catch(error => {
                videoElement.muted = true;
                unmuteButton.style.visibility = "visible";
                flvPlayer.play();
            });
        }
      </script>
    </div>
  {@else}
    <div class="message" style="text-align: center">
      <div style="position: relative">
        <video id="videoElement" controls autoplay>
          <source src="/stream/{$page.channel.id}.mkv?auth={$page.channel.authToken}" type="video/webm">
            {#Your browser doesn't seem to support playback of MKV videos.} {#Try the playlist link below.}
        </video>
      	{^UNMUTE_BUTTON}
      </div>
      <div>{#Should the playback fail, try the playlist link below.}</div>
    </div>
  {@end}
{@elsif page.channel.typeWithGuess == "WEBM"}
  <div class="message" style="text-align: center">
    <div style="position: relative">
      <video id="videoElement" controls autoplay>
        <source src="/stream/{$page.channel.id}.webm?auth={$page.channel.authToken}" type="video/webm">
          {#Your browser doesn't seem to support playback of WebM videos.} {#Try the playlist link below.}
      </video>
      {^UNMUTE_BUTTON}
    </div>
  </div>
{@elsif page.channel.typeWithGuess == "MP4"}
  <div class="message" style="text-align: center">
    <div style="position: relative">
      <video id="videoElement" controls autoplay>
        <source src="/stream/{$page.channel.id}.mp4?auth={$page.channel.authToken}" type="video/mp4">
          {#Your browser doesn't seem to support playback of WebM videos.} {#Try the playlist link below.}
      </video>
      {^UNMUTE_BUTTON}
    </div>
  </div>
{@else}
  <div class="message" style="margin: 5em auto; text-align: center">
    {#Playback of this type of stream is not supported.} ({$page.channel.typeWithGuess})
    {#Try the playlist link below.}
  </div>
{@end}
