* { box-sizing: border-box }

.titlelinks {
	font-size: 16px;
	font-weight: bold;
}

a {
	text-decoration: none;

}

a[href] {
	color: #0000FF;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
        background-color: #fff;
        color: #000;
}

.small {
	font-size: 11px;
}

.tiny {
	font-size: 10px;
}

.titlelinksBig {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
}

input {
    font-family: Arial;
    box-sizing: border-box;
}

input[type=radio] {
	vertical-align: -3px;
}

input[type=checkbox] {
	vertical-align: -3px;
}

.navbar {
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #eee;
    padding: 3px;
}

.navbar > a {
    margin: 2px;
    font-size: 9pt;
    color: black;
    border-radius: 5px;
    text-align: left;
    vertical-align: middle;
    padding: 7px 10px;
}

.navbar > a:hover {
    color: black;
    background-color: #ddd;
    text-decoration: none;
}

.navbar > a > span {
    vertical-align: middle;
}

.navbar > a.active-tab {
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

td {
	padding-left: 4px; padding-right: 4px;
	padding-top: 3px; padding-bottom: 3px;
}
th {
	padding-left: 4px; padding-right: 4px;
	padding-top: 3px; padding-bottom: 3px;
	white-space: nowrap;

}

td.numeric {
	text-align: right;
}

td.container {
	padding: 3px 15px;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

    padding: 2px 10px;
}

.root-message {
	background-color: #eee;
	padding: 5px;
	border: solid #ccc 1px;
	padding: 3px;
}

.text-muted {
	color: #777;
}

.text-danger {
	color: #d00;
}

.hscroll > .table-panel { margin-bottom: 0 }

table.table-panel {
    font-size: 9pt;
    margin: 0 0 1em 0;
}

table.table-panel tbody tr:nth-child(odd) {
	background-color: #eee;
}
table.table-panel tbody tr:nth-child(even) {
	background-color: #ddd;
}

/* パネルの上部のスパンする見出し行。他の行よりも背景が濃い。 */
table.table-panel tbody tr:nth-child(1) {
	background-color: #ccc;
}

/* 通常、上の指定で十分。 */
table.table-panel tbody tr.heading-row {
	background-color: #ccc;
}

table.table-panel th {
    text-align: center;
}

table.table-panel th.left-heading {
	text-align: right;
	font-weight: normal;
}

td.bandwidth-cell {
    min-width: 4em;
    text-align: right;
}

input.fill-parent {
    width: 100%;
}

td.checkbox-cell {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
    box-sizing: border-box;
    padding: 0 0.5em;
}

@media (max-width: 600px) {
    .column {
	flex: 100%;
    }
}

.column > table.table-panel {
    width: 100%;
}

.hscroll { overflow-wrap: break-word; overflow-x: auto; width: 100%; overflow-y: hidden }

.break-word {
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word
}

.table-caption {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    margin-bottom: 0;
    background-color: #ccc;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
}

input[readonly="readonly"] {
    /* 編集不可能だが、値は送信する場合、グレイアウトする。 */
    background-color: rgb(227,227,227);
    color: rgb(109,109,109);
}

/* ボックスの左端に感嘆符を表示。 */
.alert-warning {
    background-color: #dc0;
    margin: 1em 0;
    padding: .7em .7em .7em 48px;
    position: relative;
    max-width: 640px;
}
.alert-warning::after { 
    color: #fff;
    content: "!";
    font-size: 32px;
    position: absolute;
    left:20px; top:calc(50% - 20px)
}
