{^define LAYOUT layout.html}
{^define TITLE}
{#_Connections_navbar} - {#PeerCast on} {^SERVER_NAME}
{^end}

{@if page.channel.id != "page.channel.id"}
  <h3>
    {$page.channel.name}
    {$page.channel.bitrate}Kbps
    ({$page.channel.totalListeners}/{$page.channel.totalRelays})
    [{$page.channel.localListeners}/{$page.channel.localRelays}]
  </h3>
{@end}
<DIV class="reloader" data-url="connections.html?fragment=content&amp;id={$page.channel.id}" data-interval="{$servMgr.refreshHTML}">
  {@fragment content}
  <FORM action=/admin method=get>
    <TABLE width="95%" align=center border=0 class="table-panel">
      <TBODY>
        <TR align=middle bgColor=#cccccc class="normal">
          <TD style="width: 1.2em"><B>{#ID}</B></TD>
          <TD><B>{#_Type_connection}</B></TD>
          <TD><B>{#Status}</B></TD>
          <TD><B>{#Time}</B></TD>
          <TD style="width: 11.5em"><B>{#IP:Port}</B></TD>
          <td style="width: 6em"><b>{#Category}</b></td>
          <TD><B>{#Agent}</B></TD>
          <TD><B>{#Kbits/s}</B></TD>
          <TD><B>{#Avg.}</B></TD>
          <td><b>{#Stop}</b></td>
        </TR>
        {@foreach servMgr.servents}
          <tr class="normal">
            <td style="text-align: right">{$it.id}</td>
            <TD>{$it.type}</TD>
            <TD>{$it.status}</TD>
            <TD>{$it.uptime}</TD>
            <TD>{$it.address}</TD>
            <td>
              {@if it.type != "SERVER"}
                {@if it.isPrivate}{#Private}{@end}
              {@end}
            </td>
            <TD>{$it.agent}</TD>
            <TD align=right>{$it.bitrate}</TD>
            <TD align=right>{$it.bitrateAvg}</TD>
            <td style="text-align: center"><a class="text-danger" href="/admin?cmd=stop_servent&amp;servent_id={$it.id}">&#x23f9;<!-- BLACK SQUARE FOR STOP --></a></td>
          </TR>
        {@end}
      </TBODY>
    </TABLE>
  </FORM>
  {@end}
</DIV>
