{^define LAYOUT layout.html}
{^define TITLE}
{#Notifications} - {#PeerCast on} {^SERVER_NAME}
{^end}

<div class="reloader" data-url="notifications.html?fragment=content" data-interval="{$servMgr.refreshHTML}">
  {@fragment content}
  <table width="100%" class="table-panel">
    <tr>
      <th style="width: 14.5em">{#Time}</th>
      <th style="width: 3em">{#Type}</th>
      <th>{#Message}</th>
    </tr>

    {@foreach servMgr.notificationBuffer.notifications}
    <tr>
      <td>
        {$it.time}
      </td>
      <td>
        {$it.type}
      </td>
      <td>
        {$it.message}
      </td>
    </tr>
    {@end}
  </table>
  {@end}
</div>
